<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<h1>Hello</h1>

<ul id="navigation">
    <li>
        <a href="#">
            Blabla
        </a>
    </li>
</ul>
</body>
</html>